<footer class="flex justify-between py-4 mt-8 mb-4 dark:text-gray-200 align-bottom">
    <div class="text-gray-700 text-md dark:text-gray-200">&copy; 2021 SenateTrades</div>
    <div  class="w-8 h-8 mr-3 rounded-full md:block"><img class="object-cover w-full h-full rounded-full" src="static/assets/logos/snap.jpg"></div>
    <div class="text-gray-700 text-md dark:text-gray-200">Built by <a href="https://gmccain.com"><span class="link">George</span></a></div>
</footer>

<style>
    .link:hover {
        color: #60A5FA;
    }
</style>
