<div class="rounded-md bg-blue-100 p-4 max-w-2xl mx-auto mt-4 mb-4">
    <div class="flex">
        <div class="flex-shrink-0">
            <!-- Heroicon name: solid/x-circle -->
            <svg class="h-5 w-5 text-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                    clip-rule="evenodd" />
            </svg>
            
        </div>
        <div class="ml-3">
            <h3 class="text-md font-medium text-blue-500">
                What's happening here?
            </h3>
            <div class="mt-2 text-sm text-blue-800">
                <ul role="list" class="list-disc pl-5 space-y-1">
                    <li>
                        {{official}}'s estimated return, to date is <b>0%</b> because our data processing indicates that
                        {{official}} has no positions in the stock market. This could because {{official}} doesn't have
                        a stock market portfolio, because {{official}}'s assets are in a blind trust, or because {{official}} hasn't sold any of their positions or bought any new
                        stocks since they were voted into office. However, if {{official}} ever reports purchasing a
                        stock, our data processing will detect the transaction, and adjust the profile and
                        return over time accordingly.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>