<div class="flex justify-center flex-1 lg:mr-32">
    <div class="relative w-full max-w-xl mr-6 focus-within:text-green-500">
        <style>
            .ts-input {
                border: none !important;
                background: none !important;
                font-size: 1rem !important;
            }
        </style>
        <div class="absolute inset-y-0 flex items-center pl-2">
            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd"></path>
            </svg>
        </div>
        <form action="/official" method="GET" id="search-form">
            <div
                class="inset-y-0 w-full py-2 pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-green-300 focus:outline-none focus:shadow-outline-green">
                <select name="official" id="officials" required>
                    <option disabled id="default-value" selected></option>
                    {% for senator in data["senator_names"] %}
                    <option>{{senator}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <script>
            var config = {
                placeholder: "Search a senator...",
                render: {
                    no_results: function (data, escape) {
                        return '<div class="no-results">No results found. This is because <b>we do not track every senator.</b> Some senators choose to keep their assets in blind trusts, a financial arrangement in which the owner does not know how the assets are managed in order to prevent a conflict of interest. Every senator does file an annual, but those are not collected from the EFD site because the information is not always stock related and all the trades reported are typically total blind trusts. </div>';
                    }
                },
                maxOptions: 100,

                onChange: (value) => {
                    if (value) {
                        document.querySelector("#search-form").submit();
                    }
                }
            };
            let search = new TomSelect('#officials', config);

            // const data  = {{data|tojson}}
        </script>
    </div>
</div>