<div class="w-full overflow-hidden rounded-lg shadow-xs">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
          <th class="px-4 py-3">Ticker</th>
          <th class="px-4 py-3">Range</th>
          <th class="px-4 py-3">Type</th>
          <th class="px-4 py-3">Date</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">


        {% for transaction in data[official]["transactions"] %}
        <tr class="text-gray-700 dark:text-gray-400">
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <!-- Avatar with inset shadow -->
              <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                {% if (transaction["ticker"] == "AA") or (transaction["ticker"] =="SNAP") or (transaction["ticker"] =="AAPL") or (transaction["ticker"] =="BABA") or (transaction["ticker"] =="BA") %}
                  <img class="object-cover w-full h-full rounded-full"
                  src="static/assets/logos/{{transaction["ticker"]}}.jpg" alt="" loading="lazy" />
                {% else %}
                <img class="object-cover w-full h-full rounded-full"
                  src="https://eodhistoricaldata.com/img/logos/US/{{transaction["ticker"]}}.png" alt="" loading="lazy" />
                {% endif %}
                
                <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
              </div>
              <div>
                <p class="font-semibold">{{transaction["ticker"]}}</p>
                <a class="text-xs cursor:pointer text-gray-600 dark:text-gray-400" href="{{transaction["ptr_link"]}}">
                  See more →
                </a>
              </div>
            </div>
          </td>
          <td class="px-4 py-3 text-sm">
            {{transaction["amount"]}}
          </td>
          <td class="px-4 py-3 text-xs">

            {% if transaction["type"] == "Sale (Full)" %}
            <span
              class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700"
              id="transaction_type">
              {{transaction["type"]}}
            </span>
            {% endif %}

            {% if transaction["type"] == "Sale (Partial)" %}
            <span
              class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700"
              id="transaction_type">
              {{transaction["type"]}}
            </span>
            {% endif %}

            {% if transaction["type"] == "Purchase" %}
            <span
              class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
              id="transaction_type">
              {{transaction["type"]}}
            </span>
            {% endif %}

            {% if transaction["type"] == "Exchange" %}
            <span
              class="px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700"
              id="transaction_type">
              {{transaction["type"]}}
            </span>
            {% endif %}

          </td>
          <td class="px-4 py-3 text-sm">
            {{transaction["date"]}}
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>

<style>

</style>